# Сборка и пакеты
dist/
build/
*.egg-info/
*.spec

# Виртуальные окружения
venv/
.venv/
env/

# Кэш Python
__pycache__/
*.py[cod]
*$py.class

# Локальные данные и секреты
.env
downloads/
user_session.session
user_session.session-journal

# Логи
*.log

# IDE
.vscode/
.idea/
